@using MVC_OnlineCommercialAutomation.Models.Classes
@model List<CargoTrack>
@{
    ViewBag.Title = "CargoTrack";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kargo Takibi</h2>
<br />
<table class=" table table-striped">

    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>
  
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Explanation</td>
            <td>@x.History</td>
            
        </tr>
    }

</table>
