
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index3</h2>

<div style="width:600px;height:600px">
    <img scr="@Url.Action("Index3","Graphics")" />
</div>
