@using MVC_OnlineCommercialAutomation.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<table class="table table-bordered" style="margin-top:20px">
    <tr>
    
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            
            <td>@k.CategoryName</td>
            <td><a href="/Category/CategoryDelete/@k.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/CategoryGet/@k.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page }),new PagedListRenderOptions { 
LiElementClasses=new List<string>
{ "page-link"}
})
<a href="/Category/CategoryAdd" class="btn btn-primary">Kategori Ekle</a>
