
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Qr Kod İşlemi</h2>
<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="code" class="form-control" /> <br />
        <input type="submit" value="QR Kod Oluştur" class="btn btn-outline-warning" />

    }
    <br />
    @if (ViewBag.SquareCodeImage != null)
    {
        <img src="@ViewBag.SquareCodeImage" style="width:400px;height:400px" />
    }
</div>

